** STRINGS CONCATENATION**

In [1]:
first_name = "Peter"
last_name = "parker"

In [2]:
first_name

'Peter'

In [3]:
last_name

'parker'

In [4]:
# method
print(first_name + " " + last_name)

Peter parker

In [5]:
print(first_name,4)
print(first_name,4)

Peter 4
Peter 4

In [6]:
print("My name is",first_name, last_name)

My name is Peter parker

OPERATORS

In [7]:
#Arithmetic Operators, +, -, /, *, **, //, %
a = 5
b = 10

# addition
print(a + b)

# substraction
print(b - a)

#Division
print(b / a)

# Multiplication
print(a * b)

# Exponents
print(a**b)

# floor division
print(b // a)


#Modulus
print(b % a)

15
5
2.0
50
9765625
2
0

In [8]:
# BODMAS

# PEMDAS = PARENTHESIS, EXPONENTS, MULTIPLICATION,
# DIVISION, ADDITION AND SUBSTRACTION

In [9]:
3+5*(10-6)/7**2+5

8.408163265306122

In [10]:
# EXERCISE

45+(15-10*9)**4/9-5

3515665.0

In [16]:
# Assignment Operators
# =, +=, -=, *=, **=

y = 10
z = 15
y+z

25

In [12]:
y += 5
# y = y + 5
y

15

In [13]:
y -= 5
# y = y - 5
y

10

In [15]:
y *= 5
y

50

In [17]:
y **= 5
y

100000

COMPARISM OPERATORS

In [1]:
# == COMPARE VALUES EQUAL TO
# ==
a = 5
b = 5
print(a==b)

True

In [2]:
# != NOT EQUALS TO
# !=
x = 10
y = 10
print(x!=y)

False

In [1]:
# < LESS THAN
p = 12
q = 34

print(p<q)

True

In [4]:
# > greater than
s = 10
t =23
print(t>s)

True

In [5]:
# >= Greater than Or equals to
print(30>=30)

True

In [1]:
# <= Less_than Or equals to
print(200<=1000)

True

LOGICAL OPERATORS

In [9]:
print(12 > 6 and 10 < 7)

# T AND F

False

In [15]:
# AND OPERATORS


print(109<=90 and 10>10 and 5>6 and 4 == 4) 

# F AND F AND T AND T
# F AND T

False

In [12]:
# THE OR OPERATOR
print(10 < 8 or 9 > 10 or 1 > 0)

# F OR F OR T

True

In [16]:
# THE NOT OPERATOR
print(not 5 > 4)

False

In [17]:
print(10>6 and 7<9 or 5>6 or not 9>10 and 6>7)
# T AND T OR F OR T AND F
# T OR F OR F
# T OR F

True

STRINGS FORMATTING

In [20]:
name = "Lammie"
course = "Data Analysis"

print("My name is", name, "and i am studying", course)

My name is Lammie and i am studying Data Analysis

In [21]:
print(f"My name is {name} and i am studying {course}")

My name is Lammie and i am studying Data Analysis

In [23]:
 # INPUT FUNCTION
name = input("What is your name ? ")
    
print("My name is", name)

What is your name ? KAS
My name is KAS

In [26]:
name = input("What is your phone number ? ")

print("My phone number is", name)

What is your phone number ? 08124851526
My phone number is 08124851526

CONDITIONAL STATEMENTS

In [2]:
x = 10
y = 25
z = 40

if x > y:
    print("X is greater than Y")
else:
        print("X is not greater than Y")
# print(x > y)

X is not greater than Y

In [3]:
if x > y:
    print("X is greater Than Y")
        
elif z > y:
     print("Z is also grater than Y")
            
elif x == z:
    print("X is equal to Z")
                
else:
     print("X is not greater than Y")

Z is also grater than Y

In [4]:
num1 = 200
num2 = 60
num3 = 30

In [5]:
num3 % 3

0

In [6]:
num3 % 4

2

In [10]:
if num1 % 2 == 0:
    print(f"{num1} is an even number")
else:
        print(f"{num1} is an odd number")

200 is an even number

SLICING AND STRIVING

In [12]:
a = "Python"

a[0]

'P'

In [13]:
a[1]

'y'

In [15]:
a[0:1]

'P'

POSITIVE INDEXING

In [16]:
a[0:2]

'Py'

In [17]:
a[2:]

'thon'

In [18]:
# NEGATIVE INDEXING
a[-1]

'n'

In [19]:
a[2:6:3]
#start end Steps

'tn'

In [22]:
palindrome = "DaD"

if palindrome[0:].lower() == palindrome[::-1]. lower():
    print(f"{palindrome.upper()} is a palindrome word")
else:
    print(f"{palindrome.upper()} is not a palindrome word")

DAD is a palindrome word

DATA COLLECTION TYPES

In [33]:
# LISTS
values = ["oranges", 45, 79.8, True, False, 1j,45,45,45]
values[0] = "Apple"

In [34]:
values

['Apple', 45, 79.8, True, False, 1j, 45, 45, 45]

In [35]:
values[-4] = 35
values

['Apple', 45, 79.8, True, False, 35, 45, 45, 45]

METHODS: Append, Extend, Insert, Clear, Sort, copy,pop,

In [18]:
fruits = ["Apple", "Pineapple", "Cherry"]
fruits

['Apple', 'Pineapple', 'Cherry']

In [19]:
fruits.append("Banana")

In [20]:
fruits

['Apple', 'Pineapple', 'Cherry', 'Banana']

In [21]:
# EXTEND MEANS TO ADD
fruits.extend(["Watermelon","Mango","Peaches","Onions"])
fruits

['Apple',
 'Pineapple',
 'Cherry',
 'Banana',
 'Watermelon',
 'Mango',
 'Peaches',
 'Onions']

In [ ]:
# Len function is used to count the number of list we have.

In [22]:
len(fruits)

8

In [23]:
type(fruits)

list

In [30]:
# insert
fruits.insert(3, "pawpaw")

In [31]:
randomList = ["Hello",34,True,1j,False,32.9]

In [32]:
randomList.clear()

In [33]:
randomList

[]

In [34]:
randomList.append("Chelsea")

In [35]:
randomList

['Chelsea']

In [36]:
Numbers = (1,2,3,4,5,6,7,8,9,10)
Numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [38]:
ListOfNumbers = [23,13,56,64,21,9,18,11,75]
ListOfNumbers

[23, 13, 56, 64, 21, 9, 18, 11, 75]

In [39]:
# sort in ascending order
ListOfNumbers.sort()

In [41]:
ListOfNumbers

[9, 11, 13, 18, 21, 23, 56, 64, 75]

In [42]:
# sort in descending order
ListOfNumbers.sort(reverse=True)

In [43]:
ListOfNumbers

[75, 64, 56, 23, 21, 18, 13, 11, 9]

In [44]:
# copy
fruits

['Apple',
 'Pineapple',
 'Cherry',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'Banana',
 'Watermelon',
 'Mango',
 'Peaches',
 'Onions']

In [45]:
# copy
fruits2 = fruits.copy()

In [46]:
fruits2

['Apple',
 'Pineapple',
 'Cherry',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'Banana',
 'Watermelon',
 'Mango',
 'Peaches',
 'Onions']

In [49]:
fruits2.pop(3)

'pawpaw'

In [50]:
fruits2

['Apple',
 'Pineapple',
 'Cherry',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'pawpaw',
 'Banana',
 'Watermelon',
 'Mango',
 'Peaches',
 'Onions']

In [51]:
# pop
# the pop methods removes the last item of the list item of the list of an index is not passed
fruits2.pop()

'Onions'

In [54]:
fruits2 = set(fruits2)
fruits2 = list(fruits2)

In [55]:
fruits2

['Peaches',
 'pawpaw',
 'Pineapple',
 'Mango',
 'Cherry',
 'Watermelon',
 'Banana',
 'Apple']

In [57]:
# remove
fruits2.remove("Pineapple")

In [58]:
fruits2

['Peaches', 'pawpaw', 'Mango', 'Cherry', 'Watermelon', 'Banana', 'Apple']

In [59]:
del fruits

**TUPLES**

In [62]:
randomTuples = (12,"python",True,False,4j,[1,2,3,4],'python')

In [63]:
randomTuples

(12, 'python', True, False, 4j, [1, 2, 3, 4], 'python')

In [64]:
randomTuples[2]

True

In [66]:
randomTuples[5]

[1, 2, 3, 4]

In [67]:
randomTuples[5][-1]

4

In [68]:
numbers2 = (12,56,[1,2,3,[90,12]])
numbers2

(12, 56, [1, 2, 3, [90, 12]])

In [72]:
numbers2[2][3][0]

90

In [73]:
# add an item to an existing tuple
randomTuples

(12, 'python', True, False, 4j, [1, 2, 3, 4], 'python')

In [74]:
type(randomTuples)

tuple

In [75]:
# cast randomTuples to List
tuplesConv = list(randomTuples)

# append
tuplesConv.append("javascript")
tuplesConv

# cast back to tuple
randomTuples = tuple(tuplesConv)
randomTuples

(12, 'python', True, False, 4j, [1, 2, 3, 4], 'python', 'javascript')

**SETS**
SEts are unordered, immutable, and does not allow duplicate values

In [76]:
setOfNumbers = {23,14,65,32,19,23,23,23}
setOfNumbers

{14, 19, 23, 32, 65}

In [78]:
setOfNumbers.add(39)

In [79]:
setOfNumbers

{14, 19, 23, 32, 39, 65}

In [80]:
setOfFruits1 = {"Apple","Cherry","Banana"}
setOfFruits2 = {"Cherry","Mango","Pawpaw","Apple"}

In [82]:
# UNION
setOfFruits1.union(setOfFruits2)

{'Apple', 'Banana', 'Cherry', 'Mango', 'Pawpaw'}

In [83]:
# INTERSECTION
setOfFruits1.intersection(setOfFruits2)

{'Apple', 'Cherry'}

In [84]:
# DIFFERENCE
setOfFruits1.difference(setOfFruits2)

{'Banana'}

In [86]:
setOfFruits2.difference(setOfFruits1)

{'Mango', 'Pawpaw'}

DICTIONARIES

Dictionaries are ordered,mutable and does not allow duplicate values

KEY:VALUE

In [6]:
car_details = {"car name":"Volvo",
               "colour" : "Red",
               "price" : 20000}

In [2]:
type(car_details)

dict

In [3]:
car_details["colour"]

'Red'

In [7]:
car_details["price"]

20000

In [8]:
car_details.keys()

dict_keys(['car name', 'colour', 'price'])

In [9]:
car_details.values()

dict_values(['Volvo', 'Red', 20000])

In [10]:
car_details.items()

dict_items([('car name', 'Volvo'), ('colour', 'Red'), ('price', 20000)])

In [11]:
car_details

{'car name': 'Volvo', 'colour': 'Red', 'price': 20000}

In [12]:
car_details["colour"] = "Silver"

In [13]:
car_details

{'car name': 'Volvo', 'colour': 'Silver', 'price': 20000}

In [14]:
car_details["Year"] = 2023

In [15]:
car_details

{'car name': 'Volvo', 'colour': 'Silver', 'price': 20000, 'Year': 2023}

In [16]:
house = {
    "type":["Bungalow","Duplex"],
    "colour" : ["white", "Green"],
    "plots" : [2,4],
    "price" : [55000000, 140000000]
}

In [17]:
# keys
house.keys()

dict_keys(['type', 'colour', 'plots', 'price'])

In [18]:
# values
house.values()

dict_values([['Bungalow', 'Duplex'], ['white', 'Green'], [2, 4], [55000000, 140000000]])

In [19]:
# items
house.items()

dict_items([('type', ['Bungalow', 'Duplex']), ('colour', ['white', 'Green']), ('plots', [2, 4]), ('price', [55000000, 140000000])])

In [20]:
# A white bungalow (2 plots) is available for sale for 55000000

In [21]:
house["colour"][0]

'white'

In [25]:
print(f'A {house["colour"][0]} {house["type"][0]} ({house["plots"][0]} plots) is available for {house["price"][0]}')

A white Bungalow (2 plots) is available for 55000000

In [26]:
house.pop("plots")

[2, 4]

In [27]:
house

{'type': ['Bungalow', 'Duplex'],
 'colour': ['white', 'Green'],
 'price': [55000000, 140000000]}

In [28]:
house2 = house.copy()

In [29]:
house2

{'type': ['Bungalow', 'Duplex'],
 'colour': ['white', 'Green'],
 'price': [55000000, 140000000]}

In [30]:
house2.clear()

In [31]:
house2

{}

In [32]:
house.get("type")

['Bungalow', 'Duplex']

In [33]:
house["type"]

['Bungalow', 'Duplex']

**LOOPS**

Loops means iteration of statements until a special condition is satisfied.

TYPE OF LOOPS

- FOR LOOPS
- WHILE LOOPS

In [37]:
values = [10,11,12,13,14,15,16,17]
values

[10, 11, 12, 13, 14, 15, 16, 17]

In [39]:
a = 11
if a%2==0:
    print(a)

In [40]:
for i in values:
    if i%2 ==0:
        print(i)

10
12
14
16

In [41]:
words = ["noon","home","madam","laptop","mom","light"]
words

['noon', 'home', 'madam', 'laptop', 'mom', 'light']

In [46]:
palindrome = "noon","madam","mom"

for i in words:
    if i[0:]==i[::-1]:
        print(i)

noon
madam
mom

In [47]:
values

[10, 11, 12, 13, 14, 15, 16, 17]

In [50]:
for a in values:
    a = a-2
    print(a)

8
9
10
11
12
13
14
15

In [49]:
for i in values:
    print(i+2)

12
13
14
15
16
17
18
19

**WHILE LOOPS(indefinite)

In [1]:
a = 10

while a < 20:
    a = a+2
    print(a)

12
14
16
18
20

**Break And Continue Statement

In [3]:

# break
x = 5

while x < 15:
    x = x + 1
    print(x)
    if x == 10:
        break

6
7
8
9
10

In [7]:
# continue
a = 1

while a < 5:
    a = a + 1
    if a == 3:
        continue
    print(a)

2
4
5

** FUNCTION

Function is a block of code which only runs when its called. You can pass in arguments/parameters into a function.

def function_name(args/params):
    
    ...context

In [9]:
def greet():
    print("Good Morning")

In [10]:
greet()

Good Morning

In [13]:
 # function with a positional argument
def greet(name):
    print("Good Morning", name)

In [14]:
greet("Dan")

Good Morning Dan

In [15]:
# function with a positional argument
def introduction(name, age, course):
    print(f"My name is {name},i am {age} years old, and i study {course}")

In [16]:
introduction("kate", 6,"data analysis")

My name is kate,i am 6 years old, and i study data analysis

In [18]:
# create a function to check if a number is an even number
number = 13

if number%2 == 0:
    print(f"{number} is an even number")
else:
    print(f"{number} is an odd number")

13 is an odd number

In [19]:
def checknum(number):
    
    if number%2 == 0:
        print(f"{number} is an even number")
    else:
        print(f"{number} is an odd number")

In [21]:
checknum(23)

23 is an odd number

**ASSIGNMENT**

1.Write a function to filter out odd numbers from [23,43,56,78,14,21]

2.Write a function to check if a word is a palindrome eg(noon)